* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  overflow: hidden;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 10px;
  display: grid;
  gap: 20px;
  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
}

.grid div {
  background: #2196F3;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}


.one {
  grid-area: 6 / 1 / 7 / 5;
}

.two {
  grid-area: 2 / 1 / 3 / 4;
}

.three {
  grid-area: 2 / 4 / span 1 / 5;
}

.four {
  grid-area: 3 / 1 / 4 / 2;
}

.five {
  grid-area: 3 / 2 / span 3 / span 3;
}

.six {
  grid-area: 4 / 1 / 5 / 2;
}

.seven {
  grid-area: 5 / 1 / 6 / 2;
}

.eight {
  grid-area: 1 / 1 / 2 / span 4;
}